# =======================================
# CodeIgniter - PHP
# =======================================

.DS_Store
codeigniter/application/cache/*
codeigniter/!application/cache/index.html
codeigniter/!application/cache/.htaccess

codeigniter/application/logs/*
codeigniter/!application/logs/index.html
codeigniter/!application/logs/.htaccess


# ======================================
# Angular App
# ====================================== 
angular-cliente/node_modules/
angular-cliente/bower_components/
angular-cliente/.sass-cache/
angular-cliente/.tmp/
angular-cliente/dist/

#PX ~
produccion